:root {
  --primary-blue: #1e3a8a;
  --accent-orange: #f59e0b;
  --hover-orange: #d97706;
  --bg-light: #ffffff;
  --text-dark: #374151;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f9fafb;
  width: 100%;

}

.auth-card {
  background: var(--bg-light);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-blue);
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* spacing between fields */
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: var(--text-dark);
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-group input:focus, .form-group select:focus{
  outline: none;
  border-color: var(--accent-orange);
  box-shadow: 0 0 0 2px rgba(245, 158, 11, 0.3);
}

.password-field .input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding-right: 40px; /* leave room for icon */

}

.toggle-password {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000; /* plain black */
}

.btn-primary {
  background: var(--accent-orange);
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-primary:hover {
  background: var(--hover-orange);
}

.link {
  color: var(--primary-blue);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s;
}

.link:hover {
  color: var(--hover-orange);
}

.form-group select option {
  width: 50%;
  border: 2px solid var(--text-dark);
  padding: 10px;
  font-size: 14px;
  color: var(--text-dark);
  background: #fff;
}

.form-group select option:hover {
  background: var(--accent-orange);
  color: #fff;
}
/* seconday buttton i.e cancel  etc */
.btn-secondary {
  background: #e5e7eb;   /* light gray */
  color: #374151;        /* dark gray text */
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.btn-secondary:hover {
  background: #d1d5db;   /* darker gray */
  color: #111827;        /* darker text */
}
